<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8w6fqMEOk_wPiwcb1pvOg0hvLNPl8dR4</string>
	<key>GCM_SENDER_ID</key>
	<string>337408094506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Hongfei.Planner</string>
	<key>PROJECT_ID</key>
	<string>fir-for-ios-planner-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-for-ios-planner-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337408094506:ios:da8387b3227381b0792e53</string>
</dict>
</plist>